<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achan.utsandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.achan.utsandroid.activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.achan.utsandroid.activity.TambahMahasiswaActivity" />
        <activity android:name="com.achan.utsandroid.activity.LihatMahasiswaActivity" />
        <activity android:name="com.achan.utsandroid.activity.HomeScreenActivity" />
        <activity android:name="com.achan.utsandroid.activity.MainActivity"></activity>
    </application>

</manifest>